/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2015, 5:52:48 PM
    Author     : monika
*/
/*basic reset*/
* {margin: 0; padding: 0;}
/*adding a black bg to the body to make things clearer*/

canvas {display: block;}
.btn-take_challenge{
    background:#0F0;
    color:black;
}

